.tela{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.caixa-login {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px #0000001A;
}

.inputs{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-verde{
    padding: 10px;
    background-color: #34492a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.home nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.home .menu-esquerda a {
  margin-right: 20px;
  text-decoration: none;
  color: #4b5d4b;
}

.home .menu-direita span {
  margin-left: 10px;
  cursor: pointer;
}

.home .hero {
  height: 90vh;
  background: url("tomate.png") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home .conteudo {
  background: #FFFFFF99;
  padding: 30px;
}

.home h1 {
  font-size: 60px;
  color: #34492a;
}

.home h1 span {
  color: green;
}

.home p {
  margin-top: 10px;
  font-size: 20px;
}